.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 400px 1fr;
  grid-template-areas: "sidebar preview";
}

.wrapper.fullscreen {
  grid-template-columns: 1fr;
}

.wrapper.fullscreen .sidebar {
  grid-template-columns: 1fr;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: min-content calc(100% - 70px) 1fr 150px;
  grid-template-columns: minmax(100px, 400px);
}

.live-preview {
  grid-area: preview;
}

.json-editor,
.live-editor {
  background: #21252b;
  caret-color: #fff;
}

.live-editor {
  border-top: 1px solid grey;
  height: calc(100% - 115px);
}

.live-error {
  padding: 1rem;
}

.button-container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
